aerolinea/src/main/resources/aerolinea.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/aerolinea">
	
			
				<xs:element name="VuelosRequest">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="origin" type="xs:string" />
							<xs:element name="destination" type="xs:string" />
							<xs:element name="date" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="VuelosResponse">
					<xs:complexType>
						<xs:sequence>
						
						<xs:element name="vuelo" maxOccurs="unbounded">
					    <xs:complexType>
					      <xs:sequence>
					       <xs:element name="idVuelo" type="xs:int" />
					        <xs:element name="origin" type="xs:string" />
					        <xs:element name="destination" type="xs:string" />
					        <xs:element name="date" type="xs:string" />
					        <xs:element name="time" type="xs:string" />
					        <xs:element name="price" type="xs:float" />
					      </xs:sequence>
					    </xs:complexType>
					  </xs:element>

						<xs:element name="alert" type="xs:string" />
							
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="AsientosRequest">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idVuelo" type="xs:int" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="AsientosResponse"  >
					<xs:complexType >
						<xs:sequence >
						
							<xs:element name="asiento"  maxOccurs="unbounded">
						    <xs:complexType>
						      <xs:sequence>
						        <xs:element name="id"   type="xs:string"/>
						        <xs:element name="status"  type="xs:string"/>
						      </xs:sequence>
						    </xs:complexType>
						  </xs:element>
							
						<xs:element name="alert" type="xs:string" />
						</xs:sequence>
						
					</xs:complexType>
				</xs:element>
				
				<xs:element name="CompraRequest">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="idVuelo" type="xs:int" />
							<xs:element name="idAsiento" type="xs:string" />
							<xs:element name="nameClient" type="xs:string" />
							<xs:element name="edadClient" type="xs:int" />
							<xs:element name="phoneClient" type="xs:double" />
							<xs:element name="emailClient" type="xs:string" />
							
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="CompraResponse">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="status" type="xs:boolean" />
							<xs:element name="origin" type="xs:string" />
							<xs:element name="destination" type="xs:string" />
							<xs:element name="date" type="xs:string" />
							<xs:element name="time" type="xs:string" />
							<xs:element name="noTicket" type="xs:int" />
							<xs:element name="noVuelo" type="xs:int" />
							<xs:element name="alert" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="CancelCompraRequest">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="noTicket" type="xs:int" />
							<xs:element name="description" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="CancelCompraResponse">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="status" type="xs:boolean" />
							<xs:element name="message" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="ConsultarCompraRequest">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="noTicket" type="xs:int" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="ConsultarCompraResponse">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="alert" type="xs:string" />
							<xs:element name="status" type="xs:boolean" />
							<xs:element name="origin" type="xs:string" />
							<xs:element name="destination" type="xs:string" />
							<xs:element name="date" type="xs:string" />
							<xs:element name="time" type="xs:string" />
							<xs:element name="noTicket" type="xs:int" />
							<xs:element name="noVuelo" type="xs:int" />
							
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				
	 
</xs:schema>